div#cover{
    position: relative;
    top: 80px;
}

div#coverimg{
    text-align: center;
    background-size :cover;
    background-position:center;
    background-repeat: no-repeat;
    max-width: 100%;
    height: auto;
}

 div#covertext{
    position: relative;
    top: 10%;
    left: 50%;
    right: 50%;
    font-weight: 100%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    text-align: center;
}