{% extends "base.html" %}
{% load static %}

{% block title %} menu {% endblock %}

{% comment %} {% extends "menu.html" %}
{% load static %}

{% block menu %} {% endcomment %}





{% comment %} {% block extrastyle %} {% static 'stylesheets/menu.css' %} {% endblock %} {% endcomment %}
{% block content %}
    <header>

      <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

        <nav>
            <div class="container1">

                    <a class="logo">
                        <span class="symbol"><img src="{% static 'images/logo.png' %}" alt="" /></span>
                    </a>

                    <a href="{% url 'kiosk:place' %}" class="home">
                        <img src="{% static 'images/home.png' %}" alt="" />
                    </a>
            </div>
        </nav>
    </header>

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

  <body>
        <!-- Nav tabs -->
      <ul class="nav nav-tabs nav-justified">
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'kiosk:menu1' %}">커피</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'kiosk:menu2' %}">차</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'kiosk:menu3' %}">음료</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'kiosk:menu4' %}">디저트</a>
          </li>
      </ul>

    <div class="container">
            <!-- Tab panes -->
      <div class="tab-content">
      <div class="tab-pane active" id="커피">
        {%if page == '1'%}
        
            <img class="rank1" src="{% static 'images/1.png' %}">
            <img class="rank2" src="{% static 'images/2.png' %}">
            <img class="rank3" src="{% static 'images/3.png' %}">
        {%endif%}
        {% if coffee_category %}
        {% for coffee in coffee_category%}
        <a href = {% url 'kiosk:add_cart1' coffee.food_num %}>
        {% comment %} <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">  {% endcomment %}
                    <div class="list-box">
                        <div class="card h-100" type="button" value='innerHTML' onclick='setInnerHTML()'>
                            {% if coffee.image  %}
                            <!-- Product image-->
                                <img style="aspect-ratio: 4 / 3; object-fit: contain;" src="{{coffee.image.url}}" alt="" >
                            {% else %}
                                <img class="card-img-top" src="{% static 'images/6c757d.png' %}" alt="..." />
                            {% endif %}
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">{{coffee.food_name}}</h5>
                                    <!-- Product price-->
                                    <p class="fw-lighter">{{coffee.price}} 원</p>
                                </div>

                            </div>
                            <!-- Product actions-->
                        </div>
                    
                    </div>
                {% comment %} </div>
            </div>
        </section> {% endcomment %}
        </a>
        
        {% endfor %}

        {% endif %}

                        <!-- 커피 페이징처리 시작 -->
                        <div class="paging">
                            <ul class="pagination justify-content-center">
                                <!-- 이전페이지 -->
                                {% if coffee_category.has_previous %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ coffee_category.previous_page_number }}">이전</a>
                                </li>
                                {% else %}
                                <li class="page-item disabled">
                                    <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
                                </li>
                                {% endif %}
                                <!-- 페이지리스트 -->
                                {% for page_number in coffee_category.paginator.page_range %}
                                {% if page_number == coffee_category.number %}
                                <li class="page-item active" aria-current="page">
                                    <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
                                </li>
                                {% else %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
                                </li>
                                {% endif %}
                                {% endfor %}
                                <!-- 다음페이지 -->
                                {% if coffee_category.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ coffee_category.next_page_number }}">다음</a>
                                </li>
                                {% else %}
                                <li class="page-item disabled">
                                    <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
                                </li>
                                {% endif %}
                            </ul>
                            <!-- 페이징처리 끝 -->
                        </div>
      </div>
      </div>

    </div>
  </body>

  

    <!--            {% comment %} <button type="button" class="btn btn-secondary btn-lg prev">이전</button>
                <button type="button" class="btn btn-secondary btn-lg next">다음</button> {% endcomment %}-->
                <div class="ah">
                    <div class="search">
                      <div class="input-bar">
                          <input type="text" placeholder="마이크 클릭후 음성으로 검색어 입력" autocomplete="off">
                          <button class="dictate">
                              <img class="mic ic-mike" src="{% static 'images/mic.png' %}" />
                              <svg width="1.25rem" height="1.25rem" viewBox="0 0 100 100">
                                  <g stroke="#fff" stroke-width="15">
                                      <path d="M20,20 20,80">
                                          <animate attributeName="d" values="M20,40 20,60;M20,20 20,80;M20,40 20,60" dur="1s" repeatCount="indefinite" />
                                      </path>
                                      <path d="M50,10 50,90">
                                          <animate attributeName="d" values="M50,10 50,90;M50,40 50,60;M50,10 50,90" dur="1s" repeatCount="indefinite" />
                                      </path>
                                      <path d="M80,20 80,80">
                                          <animate attributeName="d" values="M80,40 80,60;M80,20 80,80;M80,40 80,60" dur="1s" repeatCount="indefinite" />
                                      </path>
                                  </g>
                              </svg>
                          </button>
                      </div>
                  </div>
              
          
                      <div id="history">
                          <h4>주문내역</h4>
                          <table class="my_div" border=1 frame="void">
                            {%if cart_items %}
          
                              {%for cart_item in cart_items%}
                              <tr class="order_tr">
                                <td style='width: 30%;'> {{cart_item.food.food_name}}</td>
                                <td style='width: 20%;'>
                                  <a href="{% url 'kiosk:add_cart1' cart_item.food.food_num %}" class="custom_a"><img width="20" src="{% static 'images/plus_icon.png' %}" /></a>
                                  수량 : {{cart_item.quantity}}
                                  <a href="{% url 'kiosk:remove_cart1' cart_item.food.food_num %}" class="custom_a"><img width="20" src="{% static 'images/minus_icon.png' %}" /></a>
                              </td>
                                <td style='width: 20%;'>가격 : {{cart_item.sub_total}} 원</td>
                              </tr>
                              {%endfor%}
          
                            {%endif%}
                          </table>
                          <hr>
                          <!--<p>총 금액 : </p>-->
                          <div class="payment">
                            <tr>
                            <td class = "total">
                                총 가격: <strong> {{total}} 원 </strong>
                            </td>
                            </tr>
              <!--                <button class="btn btn-secondary btn-lg" type="button" disabled>전체 취소</button>-->
                              <input class="btn btn-secondary btn-lg" type='button' value='전체 취소' onclick="window.location.href='{% url 'kiosk:clear_cart1' %}'" />
                              <!--button class="btn btn-success btn-lg" type="button">주문 확인</button-->
                              <input id="popup_open_btn" class="btn btn-success btn-lg" type="button" value='주문 확인' />
                          </div>
                      </div>
                      
              
              
              <!--        <div id="my_modal">
                          <a class="modal_close_btn">닫기</a>
                      </div>-->
              
                      <div id="my_modal" class="pop_wrap" style="display:none;">
                          <p class="dsc">주문 확인</p><hr>
                          <div class="btns">
                              <a type="button" class="btn btn-secondary btn-lg btn_close" >닫기</a>
                              <a type="button" class="btn btn-success btn-lg pay-money">현금</a>
                              <a type="button" class="btn btn-primary btn-lg pay-card">카드</a>
                          </div>
                      </div>
                  </div>
              
              
                      <!-- Footer-->
                      <!--footer class="py-5 bg-dark"-->
              <!--            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2022</p></div>
                      </footer>-->
                      <!-- Core theme -->
                      <script src="{% static 'js/scripts.js' %}"></script>
                      <script src="{% static 'js/10-11.js' %}"></script>
          
                      
          {% endblock %}