{% extends "base.html" %}
{% load static %}


{% block title %} order {% endblock %}

{% block content %}
    <header>

      <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

        <nav>
            <div class="container1">

                    <a class="logo">
                        <span class="symbol"><img src="{% static 'images/logo.png' %}" alt="" /></span>
                    </a>

                    <a href="{% url 'kiosk:home' %}" class="home">
                        <img src="{% static 'images/home.png' %}" alt="" />
                    </a>
            </div>
        </nav>
    </header>

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    {% block order %}{% endblock %}
    <div id="oh">
        <div id="order_history">
            <h4><strong>키오스크    </strong>주문내역</h4>
            <div class="order">
                <div class="order_tr">
                    {%if cart_items %}
                        {%for cart_item in cart_items%}
                            <ul>
                                <li style="float: left;"> {{cart_item.food.food_name}} X {{cart_item.quantity}}</li>
                                <li style="float: right;">{{cart_item.sub_total}} 원</li>
                            </ul>
                            <br><hr>
                        {%endfor%}
                    {%endif%}
                </div>
                <!--<p>총 금액 : </p>-->
                <div class="amount">
                    <div class="total">
                        <ul>
                            <li style="float: left; margin-left:45px; margin-right:20px;">결제 금액 | <strong>{{total}}원</strong> </li>
                            <li style="float: left; margin-left:30px;"> 총 수량 | <strong>{{counter}}개</strong> </li>
                        </ul>
                        <!--input class="btn btn-secondary btn-lg" type='button' value='전체 취소'onclick="window.location.href='{% url 'kiosk:clear_cart' %}'" />
                        <input id="popup_open_btn" class="btn btn-success btn-lg" type="button" value='다음' /-->
                    </div>
                </div>
            </div>
        </div>
        <div class="pay">
            <span type="button" href="#" class="cash"><img style="width: 250px;" src="{% static 'images/cash.PNG' %}" alt="" /></span>
            <span type="button" href="#" class="crd"><img style="width: 250px;" src="{% static 'images/card.PNG' %}" alt="" /></span>
        </div>
    </div>
{% endblock %}